<div class="links">
  <a href="http://impressum.adfc.koeln">Impressum</a>
  <a href="http://datenschutz.adfc.koeln">Datenschutz</a>
  <a href="https://github.com/PJUllrich/Uebersicht-Verkehrsunfaelle-Koeln">GitHub</a>
</div>
<p>
  Datenquelle: Verkehrsunfallstatistik der Polizei Köln | © <%= Date.utc_today().year %> ADFC Kreisverband Köln e. V.
</p>
