<div class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="http://adfc.koeln">
      <img src={Routes.static_path(@conn, "/images/logo.png")} alt="Logo des ADFC Köln" />
    </a>
    <div class="navbar-item">
      <h1 class="navbar-title">Verkehrsunfälle mit Verunglückten in Köln</h1>
    </div>
  </div>
</div>
