<div id="statistic" class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Statistik</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true" />
      </span>
    </button>
  </div>
  <div id="dropdown-menu" class="dropdown-menu" role="menu">
    <div id="statistic-content" class="dropdown-content mapboxgl-popup-content"></div>
  </div>
</div>
