p.alert.alert-success role="alert" = get_flash(assigns[:conn] || assigns[:socket], :success)
p.alert.alert-info role="alert" = get_flash(assigns[:conn] || assigns[:socket], :info)
p.alert.alert-danger role="alert" = get_flash(assigns[:conn] || assigns[:socket], :error)