@import "./bulma.css";

body {
  overflow: hidden;
}

.hero-body {
  padding: 0;
}

.hero-foot .container {
  max-height: 5rem;
  height: 5rem;
}

.navbar {
  min-height: 3rem;
}

.navbar-brand {
  padding-left: 1rem;
}

.logo {
  padding-top: 1rem;
}

.columns {
  height: calc(100vh - (4rem + 4rem));
  flex-grow: 1;
}

.column {
  padding: 0;
}

.column-form {
  flex: none;
  padding: 2rem;
  padding-left: 2.5rem;
  overflow: scroll;
}

.column-form form {
  height: calc(100vh - (4rem + 8rem));
}

#map {
  height: 100%;
}

#accidentFilter {
  display: block;
}

.footer {
  padding: 0;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .navbar-item {
    padding-right: 0;
  }

  .hero-foot .container {
    height: 5rem;
  }

  .columns {
    height: calc(100vh - (4rem + 4rem));
    flex-grow: 1;
  }

  #filterToggle {
    margin-left: 0;
  }

  .navbar-brand {
    padding-left: 0rem;
  }

  .column-form {
    flex: none;
    padding: 0;
    height: initial;
  }

  #accidentFilter {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .columns {
    flex-direction: column;
  }

  #accidentFilter {
    display: none;
  }
}
