@import "bulma"
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "~tippy.js/dist/tippy.css"

.navbar
  overflow: auto
  padding-left: 0.3rem

  .logo
    padding-top: 1rem

  &-title
    font-size: 1.5rem

.hero-body
  padding: 0
  align-items: stretch !important

  .content
    display: flex
    width: 100%

    &-form
      padding: 1rem

      form
        padding-top: 1rem

        .select
          display: flex
          flex-direction: column

          input
            margin: 0 0.5rem 0 0.3rem

        .checkbox label
          padding-left: 0.4rem

        .sprite-info
          width: 0.9rem
          margin-left: 0.3rem

    &-map
      flex: 1
      position: relative

      #statistic
        position: absolute
        top: 1rem
        left: 1rem

      #map
        height: 100%

.hero-foot
  text-align: center
  padding: 0.3rem 0
  font-size: 0.8rem

  .links a
    margin-left: 0.5rem
    color: inherit
    text-decoration: underline

.summary-table
  .horizontal-header
    text-align: center !important

  .vertical-header
    vertical-align: middle !important

    &-content
      writing-mode: tb-rl

.vertical-header
  vertical-align: middle !important
  text-align: center !important

  &-content
    writing-mode: tb-rl
    border: none !important
    white-space: nowrap

.summary-table
  table-layout: fixed
  margin-bottom: 0.1rem !important

  th
    width: 2rem

  th+th, td
    width: auto

#toggleFilterBtn
  display: none

.mapboxgl-popup-content
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif
  width: 23rem

@media (max-width: $tablet)
  .mapboxgl-popup-content
    width: 21rem !important

  .summary-table
    width: 20rem !important

  .summary-table
    td, th
      padding: 0.1em 0 !important

  .navbar
    padding: 0

    &-item
      padding-right: 0

    &-title
      font-size: 1rem

  .hero-body .content
    flex-direction: column

  #accidentFilter
    display: none

  #toggleFilterBtn
    display: block
